In [22]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [33]:
df=pd.read_csv('/home/barbaros/Desktop/ai/11_Naive_Bayes/naive_bayes-deneme/Naive-Bayes-Classification-Data.csv'
               )
df.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   glucose        995 non-null    int64
 1   bloodpressure  995 non-null    int64
 2   diabetes       995 non-null    int64
dtypes: int64(3)
memory usage: 23.4 KB

In [24]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']

In [25]:
y.value_counts(sort=False)

0    497
1    498
Name: diabetes, dtype: int64

In [32]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)
cols=X_train.columns

In [27]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [28]:
X_test=pd.DataFrame(X_test,columns=[cols])
X_train=pd.DataFrame(X_train, columns=[cols])
X_train.head()

  glucose bloodpressure
0     0.4      0.479167
1     0.2      0.645833
2     0.4      0.854167
3     0.6      0.645833
4     0.4      0.520833

In [29]:
gnb=GaussianNB()
gnb.fit(X_train,y_train)
pred=gnb.predict(X_test)
pred1=gnb.predict(X_train)

In [30]:
acur=accuracy_score(y_test,pred)
acur1=accuracy_score(y_train,pred1)
acur

0.9531772575250836

In [31]:
acur1

0.9252873563218391